{% extends "base.html" %}
{% block title %}Finkies{% endblock %}
{% block head %}
<script src="https://www.paypal.com/sdk/js?client-id=ATdi4J2gX98lBtRGaHrJspwH5W40-nLXfXnwLu7A7coz_O8dQ-noGAYaOcfjTZ_Fq_Nqu1gW2Zk5AFXX&disable-funding=credit,card&currency=MXN"></script>
{{super()}}
{% endblock %}
{% block body %}

    

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-lg-baseline justify-content-center" style="min-height: 150px">
            <div style="padding-left: 50px;">
                <h1 class="font-weight-semi-bold text-uppercase mb-3">Pago</h1>
                <div class="d-inline-flex">
                    <p class="m-0"><a href="">Inicio</a></p>
                    <p class="m-0 px-2">-</p>
                    <p class="m-0">Pago</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <!--Datos de facturacion comienzan-->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Datos de facturación</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Nombre(s)</label>
                            <input class="form-control" type="text" id="nombres" value="{{direccion['nombres']}}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Apellido(s)</label>
                            <input class="form-control" type="text" id="apellidos" value="{{direccion['apellidos']}}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Correo electrónico</label>
                            <input class="form-control" type="text" id="correo" value="{{direccion['correo']}}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Número de teléfono</label>
                            <input class="form-control" type="text" id="telefono" value="{{direccion['telefono']}}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Calle</label>
                            <input class="form-control" type="text" id="calle" value="{{direccion['calle']}}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Colonia</label>
                            <input class="form-control" type="text" id="colonia" value="{{direccion['colonia']}}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Número exterior</label>
                            <input class="form-control" type="text" id="num_ext" value="{{direccion['num_ext']}}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Número interior</label>
                            <input class="form-control" type="text" id="num_int" value="{{direccion['num_int']}}" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select" id="pais" disabled>
                                <option selected>México</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Ciudad</label>
                            <input class="form-control" type="text" value="{{direccion['ciudad']}}" id="ciudad" readonly>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Estado</label>
                            <input class="form-control" type="text" value="{{direccion['estado']}}" readonly id="estado">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Código Postal</label>
                            <input class="form-control" type="text" value="{{direccion['codigo_postal']}}" readonly id="codigo_postal">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Referencia</label>
                            <textarea class="form-control" placeholder="La casa es de color..." rows="3" cols="30" id="referencia" readonly>{{direccion['referencia']}}</textarea>
                        </div>
                    </div>
                </div>
                <!--Datos de facturacion terminan-->
                <!--Datos de envio comienzan-->
                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Dirección de envío</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Nombre(s)</label>
                            <input class="form-control" type="text" placeholder="Juan">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Apellido(s)</label>
                            <input class="form-control" type="text" placeholder="Juárez">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Correo electrónico</label>
                            <input class="form-control" type="text" placeholder="ejemplo@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Número de teléfono</label>
                            <input class="form-control" type="text" placeholder="+123 456 789">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Calle</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Colonia</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Número exterior</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Número interior</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select">
                                <option selected>México</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Ciudad</label>
                            <input class="form-control" type="text" placeholder="Hermosillo">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Estado</label>
                            <input class="form-control" type="text" placeholder="Sonora">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Código Postal</label>
                            <input class="form-control" type="text" placeholder="12345">
                        </div>
                    </div>
                </div>
            </div>
            <!--Datos de envio terminan-->
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Total de la orden</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Productos</h5>
                        {% set lista_precios = [] %}
                        {% for id_producto,producto in carrito.items() %}
                        
                        <div class="d-flex justify-content-between">
                            <p>{{producto['nombre']}}</p>
                            {% set total= producto['precio']|float * producto['cantidad']|float %}
                            <p>${{"%.2f"|format(total)}}</p>
                        </div>
                        <p hidden>{{ lista_precios.append(total) }}</p>
                        {% endfor %}
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">${{"%.2f"|format(lista_precios|sum)}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Tarifa de Envío</h6>
                            <h6 class="font-weight-medium">$80</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold" id="grand-total">${{"%.2f"|format((lista_precios|sum)+80)}}</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Pago</h4>
                    </div>
                    <div id='paypal-button-container'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
</body>
{% endblock %}
{% block footer %}
{{super()}}

<script>

    function prueba() {
        
        alert(valor)
    }   

    paypal.Buttons({
        
        // Sets up the transaction when a payment button is clicked
        // document.getElementById('grand-total').innerHTML.substring(1)
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: document.getElementById('grand-total').innerHTML.substring(1),
              }
            }]
          });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            transaction['carrito']={{carrito|tojson}};
            transaction['direccion']={
                'nombres':document.getElementById('nombres').value,
                'apellidos':document.getElementById('apellidos').value,
                'correo':document.getElementById('correo').value,
                'telefono':document.getElementById('telefono').value,
                'calle':document.getElementById('calle').value,
                'colonia':document.getElementById('colonia').value,
                'numero exterior':document.getElementById('num_ext').value,
                'numero interior':document.getElementById('num_int').value,
                'pais':document.getElementById('pais').value,
                'ciudad':document.getElementById('ciudad').value,
                'estado':document.getElementById('estado').value,
                'codigo_postal':document.getElementById('codigo_postal').value,
                'referencia':document.getElementById('referencia').innerHTML
            }
            //alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            $.ajax({
                type: "POST",
                url: "/verificar_pago",
                data: JSON.stringify(transaction),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                console.log("Result:");
                console.log(result);
                 }  
                });
            // When ready to go live, remove the alert and show a success message within this page. For example:
             const element = document.getElementById('paypal-button-container');
             element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
          });
        }
      }).render('#paypal-button-container');
</script>
{% endblock %}