{% extends "base.html" %}
{% block title %}Finkies{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-lg-baseline justify-content-center" style="min-height: 150px">
        <div style="padding-left: 50px;">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Pago</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Inicio</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Pago</p>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<!--Datos de facturacion comienzan-->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Datos de envío</h4>
                <form action="" method="POST">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Nombre(s)</label>
                            <input class="form-control" type="text" id="nombres" name="nombres" placeholder="Juan" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Apellido(s)</label>
                            <input class="form-control" type="text" id="apellidos" name="apellidos" placeholder="Juárez" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Correo electrónico</label>
                            <input class="form-control" type="email" id="correo" name="correo" placeholder="ejemplo@email.com" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Número de teléfono</label>
                            <input class="form-control" type="number" id="telefono" name="telefono" placeholder="+123 456 789" max="9999999999" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Calle</label>
                            <input class="form-control" type="text" id="calle" name="calle" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Colonia</label>
                            <input class="form-control" type="text" id="colonia" name="colonia" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Número exterior</label>
                            <input class="form-control" type="text" id="num_ext" name="num_ext" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Número interior</label>
                            <input class="form-control" type="text" id="num_int" name="num_int">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select" id="pais" disabled>
                                <option selected>México</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Ciudad</label>
                            <input class="form-control" type="text" placeholder="Hermosillo" id="ciudad" name="ciudad" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Estado</label>
                            <input class="form-control" type="text" placeholder="Sonora" id="estado" name="estado" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Código Postal</label>
                            <input class="form-control" type="number" placeholder="12345" id="codigo_postal" name="codigo_postal" required max="99999">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Referencia</label>
                            <textarea class="form-control" placeholder="La casa es de color..." rows="3" cols="30" id="referencia" name="referencia" required></textarea>
                        </div>
                        <div class="col-md-6 form-group">

                        </div>
                        <div class="col-md-6 form-group">
                            <input class="btn btn-primary btn-lg login" type="submit" value="Proceder a pago">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{{super()}}
{% endblock %}