{% extends "base.html" %}
{% block title %}Finkies{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}

{% if session['datos_erroneos'] == True %}
<body onload="document.getElementById('botonlogin').click()">
{% else %}
<body>
{% endif %}    


    <!-- Shop Start -->
            <lu class="list-group" data="2"> 
                {% for orden in lista_ordenes %}
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">ORDEN #{{orden['idpedido']}}</h5>
                            <h5 class="mb-1">TOTAL: ${{"%.2f"|format(total[loop.index0]+80)}}</h5>
                        </div>
                        <table style="width:100%">
                            <tr>
                            {% for imagen in orden['imagen'] %}
                                    <td><img class="img-fluid w-100 similar" src="static/img/{{imagen}}" alt="" ></td>
                            {% endfor %}
                            </tr>
                            <tr>
                                {% for nombre in orden['nombre'] %}
                                    <td><h5 class="font-weight-semi-bold m-0">{{nombre}}</h5></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for precio in orden['cantidad'] %}
                                    <td>CANTIDAD: {{precio}}</td>
                                
                                {% endfor %}
                            </tr>
                            </table>
                            <a href="/ver_orden/{{orden['idpedido']}}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Ver detalles</a>
                    </a>
                {% endfor %}
            </lu> 
            </div>
            <!-- ordenes list End -->
        </div>
    </div>
    <!-- ordenes End -->





    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>
{% endblock %}
{% block footer %}
{{super()}}
{% endblock %}
</html>